<h1>Editing babysitter</h1>

<% form_for(@babysitter) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :lastName %><br />
    <%= f.text_field :lastName %>
  </p>
  <p>
    <%= f.label :firstName %><br />
    <%= f.text_field :firstName %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :stateAbbr %><br />
    <%= f.text_field :stateAbbr %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @babysitter %> |
<%= link_to 'Back', babysitters_path %>