<h1> <p>This website is under construction. Please check back as I am migrating the web site at <a href="http://www.watch-kiddz.appspot.com">www.watch-kiddz.appspot.com</a> which is a java application to here where it is being done is Ruby on Rails.

You can email me a rich@mybabysit.com
</p>
</h1>	
	
<h1>Login </h1>

<% form_for @session, :url => login_path do |f| %>
  <%= f.error_messages %>
  <%= f.label :email %><br />
  <%= f.text_field :email %><br />
  <br />
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.check_box :remember_me %><%= f.label :remember_me %><br />
  <br />
  <%= f.submit "Login" %>
<% end %>