<h1>Editing reply</h1>

<% form_for @reply, :url => event_reply_path do |f| %>
  <%= f.error_messages %>

<div class="answer">
	<%= f.radio_button :answer, 'yes', :checked => true %> 
	<%= f.label :answer_yes, 'YES' %>
	<%= f.radio_button :answer, 'no' %>
	<%= f.label :answer_no, 'NO' %>
	<%= f.radio_button :answer, 'maybe' %>
	<%= f.label :answer_maybe, 'Maybe' %>
</div>
  <p>
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', event_reply_path(@reply.event, @reply) %> |
<%= link_to 'Back', user_url(current_user) %>