
<h1> My Homepage - <%=h @user.first_name %> <%=h @user.last_name%> </h1>

Content coming soon


<!--
<p>
  <b>Lastname:</b>
  <%=h @user.last_name %>
</p>

<p>
  <b>Firstname:</b>
  <%=h @user.first_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<br />
<%= link_to 'Back', users_path %>
<br /><%= link_to 'Edit', edit_user_path(@user) %>

-->
