<%= link_to 'Invite', new_invitation_path %>

<h1> My Homepage - <%=h @user.first_name %> <%=h @user.last_name%> </h1>
<p>
  <b>Lastname:</b>
  <%=h @user.last_name %>
</p>
<p>
  <b>Firstname:</b>
  <%=h @user.first_name %>
</p>
<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>
<p>
  <b>Acct:</b>
  <%=h @user.accttype %>
</p>

<% if @user.accttype != 'babysitter' %>
	<h1> My Events </h1>
	<% @user.events.each do |event| %>
		----<%= event.name %> <%= event.eventDate %> <%= event.startTime %>----
		<table>
		  <tr>
			<th>Status</th>
			<th>Babysitter</th>
		    <th>Sitter Note</th>
		  </tr>
		<% event.replies.each do |reply| %>
		  <tr>
			<td><%=h reply.answer %>
			<td><%=h reply.user.full_name %>
		    <td><%=h reply.note %></td>
		  </tr>
		<% end %>
		</table>
	    <%= link_to 'Show', event %>
	    <%= link_to 'Edit', edit_event_path(event) %><br /><br />
	<% end %>
<% end %>

<% if @user.accttype != 'parent' %>
	<h1>My Jobs</h1>
	<table>
	  <tr>
	    <th>Answer</th>
	    <th>Parent's name</th>
		<th>Date</th>
	    <th>Start</th>
	    <th>End</th>
		<th>Parent's Note</th>
	  </tr>
	<% @user.replies.each do |reply| %>
		<tr>
		  <td><%=h reply.answer %></td>
		  <td><%=h reply.event.user.full_name %>
	      <td><%=h reply.event.eventDate %></td>
	      <td><%=h reply.event.startTime %></td>
	      <td><%=h reply.event.endTime %></td>
	      <td><%=h reply.event.note %></td>
		  <td><%= link_to 'Show', reply %></td>
		  <td><%= link_to 'Edit', edit_reply_path(reply) %></td>
		</tr>
	<% end %>
	</table>
<% end %>
<br />
<br />
<% form_tag search_path, :method => :get do %>
    <fieldset>
        <legend>Search My Babysitter Users - Choose one or many</legend>
        <%= label_tag :first_name_keywords %><br />
        <%= text_field_tag :first_name_keywords %><br />
        <br />
        <%= label_tag :last_name_keywords %><br />
        <%= text_field_tag :last_name_keywords %><br />
        <br />
        <%= label_tag :email_keywords %><br />
        <%= text_field_tag :email_keywords %><br />
        <br />
    </fieldset>
    <%= submit_tag "Search" %>
<% end %>

<h1> My Babysitter Network </h1>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
<% @user.friends.each do |friend| %>
  <tr>
    <td><%=h friend.first_name %></td>
    <td><%=h friend.last_name %></td>
  </tr>
<% end %>
</table>

<% if @user.accttype != "babysitter" %>
	<br /><%= link_to 'New Event', new_event_path %>
<% end %>
