
<h1> My Homepage - <%=h @user.first_name %> <%=h @user.last_name%> </h1>

<p>
  <b>Lastname:</b>
  <%=h @user.last_name %>
</p>

<p>
  <b>Firstname:</b>
  <%=h @user.first_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Acct:</b>
  <%=h @user.accttype %>
</p>

<% unless @user.events.empty? %>
  <%= render :partial => "/events/event",
	:collection => @user.events %>
<% end %>

<h1> My Babysitter Network </h1>
<% form_tag search_path, :method => :get do %>
    <fieldset>
        <legend>Search Users - Choose one or many</legend>
        <%= label_tag :first_name_keywords %><br />
        <%= text_field_tag :first_name_keywords %><br />
        <br />
        <%= label_tag :last_name_keywords %><br />
        <%= text_field_tag :last_name_keywords %><br />
        <br />
        <%= label_tag :email_keywords %><br />
        <%= text_field_tag :email_keywords %><br />
        <br />
    </fieldset>
    <%= submit_tag "Search" %>
<% end %>

<% unless @user.friends.empty? %>
  <%= render :partial => "/users/friend",
	:collection => @user.friends %>
<% end %>

<% unless @user.replies.empty? %>
  <%= render :partial => "/replies/reply",
	:collection => @user.replies %>
<% end %>

<% if @user.accttype != "babysitter" %>
	<br /><%= link_to 'New Event', new_event_path %>
<% end %>
