<% bottom do %>
  <% limiter do %>
    <% footerNavigation do %>
      <ul>
		<% if !current_user %>
        	<li><%= link_to "login", login_path %></li>
		<% else %>
			<li><%= link_to "logout", logout_path %></li>
		<% end %>
        <li><%= link_to "register new account", new_user_path %></li>
        <li><%= link_to "learn about us", about_us_path %></li>
        <li><%= link_to "contact us", contact_us_path %></li>
      </ul>
    <% end %>
    <% footerInformation do %>
      <p>
        Copyright &copy; 2011 Sitter Calling. All rights reserved.
      </p>
    <% end %>
  <% end %>
<% end %>
