<% top do %>
  <% limiter do %>
    <% floatL do %>
    <h1><a href="#" title="Sitter Calling"><span class="alt">Sitter Calling</span></a></h1>
    <% end %>
    <%floatR do %>
		<% if current_user %>
			<%= link_to "Home", user_url(current_user) %>
			<%= link_to "Edit Profile", edit_user_path(current_user) %>
			<%= link_to "History", :controller => 'histories' %>
			<%= link_to "Logout" , logout_path %>
            <a href="#"><%=h current_user.first_name %></a>

		<% end %>
	
    <% end %>
  <% end %>
<% end %>
