<div class="middle">
  <div class="limiter">

<h2>Editing event</h2>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :eventDate %><br />
    <%= f.text_field :eventDate %>
    <div class="dp-choose-date" />
  </p>
  <p>
    <%= f.label :startTime %><br />
    <%= f.text_field :startTime %>
  </p>
  <p>
    <%= f.label :endTime %><br />
    <%= f.text_field :endTime %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<h2>Reply Status</h2>
<table>
  <tr>
    <th>Answer</th>
    <th>Note</th>
	<th>Name</th>
  </tr>

	<% @event.replies.each do |reply| %>
	  <tr>
	    <td><%=h reply.answer %></td>
	    <td><%=h reply.note %></td>
		<td><%=h reply.user.first_name %><%=h reply.user.last_name %></td>
	  </tr>
	<% end %>
</table>

<h2> Add From My Babysitters </h2>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
  <% @user.friends.each do |friend| %>
    <tr>
	  <td><%=h friend.first_name %></td>
	  <td><%=h friend.last_name %></td>
	  <td><%= link_to 'Add', event_replies_path(@event, :id => friend.id), :method => :post %> </td>
	</tr>
  <% end %>
</table>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', user_url(current_user) %>


  </div>
</div>
