<h1>Editing event</h1>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :eventDate %><br />
    <%= f.date_select :eventDate %>
  </p>
  <p>
    <%= f.label :startTime %><br />
    <%= f.text_field :startTime %>
  </p>
  <p>
    <%= f.label :endTime %><br />
    <%= f.text_field :endTime %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<% unless @event.replies.empty? %>
  <%= render :partial => "/replies/reply",
	:collection => @event.replies %>
<% end %>

<% unless @user.friends.empty? %>
  <%= render :partial => "/users/friend",
	:collection => @user.friends %>
<% end %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', user_url(current_user) %>