<div class="middle">
  <div class="limiter">

    <div class="box first double">
      <h2>Editing event</h2>
      <% form_for(@event) do |f| %>
        <%= f.error_messages %>
        <p>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
        </p>
        <p>
        <%= f.label :eventDate %><br />
        <%= f.text_field :eventDate %>
        <div class="dp-choose-date" />
        </p>
        <p>
        <%= f.label :startTime %><br />
        <%= f.text_field :startTime %>
        </p>
        <p>
        <%= f.label :endTime %><br />
        <%= f.text_field :endTime %>
        </p>
        <p>
        <%= f.label :note %><br />
        <%= f.text_field :note %>
        </p>
        <p>
        <%= f.submit 'Update' %>
        </p>
      <% end %>


      <div class="eventItem newEvent">
        <div class="eventDetails">
          <h2>Reply Status For This Event</h2>
          <table cellpadding="125" cellspacing="125" width="100%">
            <tr>
            <th style="text-align:left">Answer</th>
            <th style="text-align:left">Name</th>
            <th style="text-align:left">Note</th>
            </tr>

            <% @event.replies.each do |reply| %>
              <tr>
              <td width="20%"><%=h reply.answer %></td>
              <td width="30%"><%=h reply.user.first_name %> <%=h reply.user.last_name %></td>
              <td width="50%"><%=h reply.note %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    </div>
    <div class="box network">
      <h3 id="yourNetwork"><span class="alt">Add From My Babysitters</span></h3>
      <ul>
        <% @user.friends.each do |friend| %>
          <li><%=h friend.first_name %> <%=h friend.last_name %> <%= link_to 'Add To Event', event_replies_path(@event, :id => friend.id), :method => :post %></li>
        <% end %>
        <li></li>
        <li></li>

      </ul>
    </div>



    <%= link_to 'Show', @event %> |
    <%= link_to 'Back', user_url(current_user) %>

    <div class="clear"></div>
  </div>
  <div class="gradient"></div>
</div>