<h1>New event</h1>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :eventDate %><br />
    <%= f.date_select :eventDate %>
  </p>
  <p>
    <%= f.label :startTime %><br />
    <%= f.text_field :startTime %>
  </p>
  <p>
    <%= f.label :endTime %><br />
    <%= f.text_field :endTime %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', user_url(current_user) %>