<div class="middle">
  <div class="limiter">


<h2>New event</h2>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :eventDate %><br />
    <%= f.text_field :eventDate %>
    <div class="dp-choose-date" />
  </p>

  <p>
    <%= f.label :startTime %><br />
    <%= f.text_field :startTime %>
  </p>
  <p>
    <%= f.label :endTime %><br />
    <%= f.text_field :endTime %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>


<%= link_to 'Back', user_url(current_user) %>
  </div>
</div>

