<div class="middle">
  <div class="limiter">

<p>
  <b>Name:</b>
  <%=h @event.name %>
</p>

<p>
  <b>Eventdate:</b>
  <%=h @event.event_date_formatted %>
</p>

<p>
  <b>Starttime:</b>
  <%=h @event.startTime %>
</p>

<p>
  <b>Endtime:</b>
  <%=h @event.endTime %>
</p>

<p>
  <b>Note:</b>
  <%=h @event.note %>
</p>

<h1>My replies</h1>

<table>
  <tr>
    <th>Answer</th>
    <th>Note</th>
	<th>Name</th>
  </tr>

<% if @user.acct_type == 'parent' %>
	<% @event.replies.each do |reply| %>
	  <tr>
	    <td><%=h reply.answer %></td>
	    <td><%=h reply.note %></td>
		<td><%=h reply.user.first_name %> <%=h reply.user.last_name %></td>
	  </tr>
	<% end %>
<% else %>
	<% @user.replies.each do |reply| %>
	<tr>
	  <td><%=h reply.answer %></td>
	  <td><%=h reply.note %></td>
		<td><%=h reply.user.first_name %> <%=h reply.user.last_name %></td>
	  <td><%= link_to 'Show', reply %></td>
	  <td><%= link_to 'Edit', edit_reply_path(reply) %></td>
	  <td><%= link_to 'Destroy', reply, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
	
<% end %>
</table>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', user_url(current_user) %>


  </div>
</div>

