<div class="middle">
  <div class="limiter">

      <div class="eventDetails">
        <ul>
          <li>Name: <%= @event.name %></li>
          <li>Date: <%= @event.eventDate %></li>
          <li>Time:  <%= @event.startTime %> to  <%= @event.endTime %></li>
          <li>Note:  <%= @event.note %></li>

        </ul>
        </br></br>
        <h2> Notified Sitters </h2>
          <table cellpadding="125" cellspacing="125" width="100%">
            <tr>
              <th style="text-align:left">Answer</th>
              <th style="text-align:left">Name</th>
              <th style="text-align:left">Note</th>
            </tr>

              <% @event.replies.each do |reply| %>
                <tr>
                  <td width="20%"><%=h reply.answer %></td>
                  <td width="30%"><%=h reply.user.first_name %> <%=h reply.user.last_name %></td>
                  <td width="50%"><%=h reply.note %></td>
                </tr>
              <% end %>
          </table>



        <%= link_to 'Edit', edit_event_path(@event) %> |
        <%= link_to 'Back', user_url(current_user) %>
      </div>
   

  </div>
</div>

