<h1>NOT USED - Editing invitation</h1>

<% form_for(@invitation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @invitation %> |
<%= link_to 'Back', invitations_path %>