<h1> <p><strong>MyBabysit</strong> </p> </h1>

<p><h3><strong>The best way to schedule babysit events</strong></h3></p>
<p>See what you can do</p>
<p>
	Babysitter for your kids, your pets, your house <br>
	Like a social network site, just connect with your babysitter, <br>
	friends or family, and then start scheduling events.<br>
</p>
<p>It's free, and always will be</p>
<br />	
<strong>Login </strong>

<% form_for @user_session, :url => login_path do |f| %>
  <%= f.error_messages %>
  <%= f.label :email %><br />
  <%= f.text_field :email %><br />
  <br />
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.check_box :remember_me %><%= f.label :remember_me %><br />
  <br />
  <%= f.submit "Login" %>
<% end %>